audio_recorder_streamlit
deep_translator
gTTS
langchain
langchain_core
langchain_openai
openai
python-dotenv
streamlit
streamlit_chat
streamlit_mic_recorder
pydub
soundfile
librosa
datasets
torch
transformers
accelerate